.loading{
    height: calc(100vh - 150px);
    background-color: #f5e1ce;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loading img{
    height: 50%;
}
