.itemDetail {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.itemCard {
  height: 900px;
  width: 1000px;
  background-color: #ffffff;
  border: 5px solid black;
  box-shadow: 0 0 0 7px #ffffff, 0 0 8px 5px #000;
}

.itemCard .category {
  display: flex;
  justify-content: right;
  padding: 30px 40px;
}
.itemCard .category h3 {
  font-size: 25px;
  font-weight: 600;
}
.itemCard .cardBody {
  padding: 0 40px;
  display: flex;
  flex-flow: row no-wrap;
  margin-bottom: 25px;
}
.itemCard .cardBody .half {
  box-sizing: border-box;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.itemCard .cardBody .half .featuredText {
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
}
.itemCard .cardBody .half .featuredText .model {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 5px;
}
.itemCard .cardBody .half .featuredText .price {
  font-size: 20px;
}
.itemCard .cardBody .half .img {
  padding-top: 15px;
  width: 100%;
}
.itemCard .cardBody .half .img img {
  max-width: 100%;
  height: auto;
}
.itemCard .cardBody .half .img .id {
  position: absolute;
}
.itemCard.cardBody .half .img .id p {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
}
.itemCard.cardBody .half .img .id h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}
.itemCard .cardBody .half .description {
  margin-bottom: 25px;
}
.itemCard .cardBody .half .description p {
  margin: 0;
  font-weight: 300;
  line-height: 27px;
  font-size: 15px;
}
