div .count{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 75px;
}

div .count .minus img{
    height: 25px;
}
div .count .plus img{
    height: 25px;
}
div .count .quantity{
    font-size: 20px;
    color: #ffffff;
}
div .addCart{
    width: 75px;
    border: 0px;
    color: #b08e6b;
}